<h1>Simple blog platform example</h1>
<p>This is a sample tutorial to show the differences between traditional way of doing things vs implementing a Javascript MVC framework - Backbone.js</p>

<h2><a href="/posts">All Posts (Traditional Way)</a></h2>
<p>This is the traditional way of having Create, Read, Update, Delete. Each function is on a seperate page.</p>

<h2><a href="/backbone_posts">All Posts (Powered by Backbone)</a></h2>
<p>With Backbone.js, we can easily move each of the functions into a single page, all with AJAX calls (without refresh).</p>

<h2><a href="/home/router">Backbone Router Example</a></h2>
<p>With Backbone Router, we can easily keep history states.</p>